// Use the following CSS code if you want to have a class per icon.
// Instead of a list of all class selectors, you can use the generic [class*="icon-"] selector, but it's slower:

@font-face {
  font-family: $simple-line-font-family;
  src: url('#{$simple-line-font-path}/Simple-Line-Icons.eot');
  src: url('#{$simple-line-font-path}/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
       url('#{$simple-line-font-path}/Simple-Line-Icons.woff') format('woff'),
       url('#{$simple-line-font-path}/Simple-Line-Icons.ttf') format('truetype'),
       url('#{$simple-line-font-path}/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.#{$simple-line-icon-prefix} {
  font-family: $simple-line-font-family;
  speak: none;
  // font-style: normal;
  // font-weight: normal;
  // font-variant: normal;
  // text-transform: none;
  // line-height: 1;

  // Better Font Rendering =========== 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$simple-line-icon-prefix}_user:before {
  content: "\e005";
}

.#{$simple-line-icon-prefix}_people:before {
  content: "\e001";
}

.#{$simple-line-icon-prefix}_user-female:before {
  content: "\e000";
}

.#{$simple-line-icon-prefix}_user-follow:before {
  content: "\e002";
}

.#{$simple-line-icon-prefix}_user-following:before {
  content: "\e003";
}

.#{$simple-line-icon-prefix}_user-unfollow:before {
  content: "\e004";
}

.#{$simple-line-icon-prefix}_login:before {
  content: "\e066";
}

.#{$simple-line-icon-prefix}_logout:before {
  content: "\e065";
}

.#{$simple-line-icon-prefix}_emotsmile:before {
  content: "\e021";
}

.#{$simple-line-icon-prefix}_phone:before {
  content: "\e600";
}

.#{$simple-line-icon-prefix}_call-end:before {
  content: "\e048";
}

.#{$simple-line-icon-prefix}_call-in:before {
  content: "\e047";
}

.#{$simple-line-icon-prefix}_call-out:before {
  content: "\e046";
}

.#{$simple-line-icon-prefix}_map:before {
  content: "\e033";
}

.#{$simple-line-icon-prefix}_location-pin:before {
  content: "\e096";
}

.#{$simple-line-icon-prefix}_direction:before {
  content: "\e042";
}

.#{$simple-line-icon-prefix}_directions:before {
  content: "\e041";
}

.#{$simple-line-icon-prefix}_compass:before {
  content: "\e045";
}

.#{$simple-line-icon-prefix}_layers:before {
  content: "\e034";
}

.#{$simple-line-icon-prefix}_menu:before {
  content: "\e601";
}

.#{$simple-line-icon-prefix}_list:before {
  content: "\e067";
}

.#{$simple-line-icon-prefix}_options-vertical:before {
  content: "\e602";
}

.#{$simple-line-icon-prefix}_options:before {
  content: "\e603";
}

.#{$simple-line-icon-prefix}_arrow-down:before {
  content: "\e604";
}

.#{$simple-line-icon-prefix}_arrow-left:before {
  content: "\e605";
}

.#{$simple-line-icon-prefix}_arrow-right:before {
  content: "\e606";
}

.#{$simple-line-icon-prefix}_arrow-up:before {
  content: "\e607";
}

.#{$simple-line-icon-prefix}_arrow-up-circle:before {
  content: "\e078";
}

.#{$simple-line-icon-prefix}_arrow-left-circle:before {
  content: "\e07a";
}

.#{$simple-line-icon-prefix}_arrow-right-circle:before {
  content: "\e079";
}

.#{$simple-line-icon-prefix}_arrow-down-circle:before {
  content: "\e07b";
}

.#{$simple-line-icon-prefix}_check:before {
  content: "\e080";
}

.#{$simple-line-icon-prefix}_clock:before {
  content: "\e081";
}

.#{$simple-line-icon-prefix}_plus:before {
  content: "\e095";
}

.#{$simple-line-icon-prefix}_minus:before {
  content: "\e615";
}

.#{$simple-line-icon-prefix}_close:before {
  content: "\e082";
}

.#{$simple-line-icon-prefix}_organization:before {
  content: "\e616";
}

.#{$simple-line-icon-prefix}_trophy:before {
  content: "\e006";
}

.#{$simple-line-icon-prefix}_screen-smartphone:before {
  content: "\e010";
}

.#{$simple-line-icon-prefix}_screen-desktop:before {
  content: "\e011";
}

.#{$simple-line-icon-prefix}_plane:before {
  content: "\e012";
}

.#{$simple-line-icon-prefix}_notebook:before {
  content: "\e013";
}

.#{$simple-line-icon-prefix}_mustache:before {
  content: "\e014";
}

.#{$simple-line-icon-prefix}_mouse:before {
  content: "\e015";
}

.#{$simple-line-icon-prefix}_magnet:before {
  content: "\e016";
}

.#{$simple-line-icon-prefix}_energy:before {
  content: "\e020";
}

.#{$simple-line-icon-prefix}_disc:before {
  content: "\e022";
}

.#{$simple-line-icon-prefix}_cursor:before {
  content: "\e06e";
}

.#{$simple-line-icon-prefix}_cursor-move:before {
  content: "\e023";
}

.#{$simple-line-icon-prefix}_crop:before {
  content: "\e024";
}

.#{$simple-line-icon-prefix}_chemistry:before {
  content: "\e026";
}

.#{$simple-line-icon-prefix}_speedometer:before {
  content: "\e007";
}

.#{$simple-line-icon-prefix}_shield:before {
  content: "\e00e";
}

.#{$simple-line-icon-prefix}_screen-tablet:before {
  content: "\e00f";
}

.#{$simple-line-icon-prefix}_magic-wand:before {
  content: "\e017";
}

.#{$simple-line-icon-prefix}_hourglass:before {
  content: "\e018";
}

.#{$simple-line-icon-prefix}_graduation:before {
  content: "\e019";
}

.#{$simple-line-icon-prefix}_ghost:before {
  content: "\e01a";
}

.#{$simple-line-icon-prefix}_game-controller:before {
  content: "\e01b";
}

.#{$simple-line-icon-prefix}_fire:before {
  content: "\e01c";
}

.#{$simple-line-icon-prefix}_eyeglass:before {
  content: "\e01d";
}

.#{$simple-line-icon-prefix}_envelope-open:before {
  content: "\e01e";
}

.#{$simple-line-icon-prefix}_envelope-letter:before {
  content: "\e01f";
}

.#{$simple-line-icon-prefix}_bell:before {
  content: "\e027";
}

.#{$simple-line-icon-prefix}_badge:before {
  content: "\e028";
}

.#{$simple-line-icon-prefix}_anchor:before {
  content: "\e029";
}

.#{$simple-line-icon-prefix}_wallet:before {
  content: "\e02a";
}

.#{$simple-line-icon-prefix}_vector:before {
  content: "\e02b";
}

.#{$simple-line-icon-prefix}_speech:before {
  content: "\e02c";
}

.#{$simple-line-icon-prefix}_puzzle:before {
  content: "\e02d";
}

.#{$simple-line-icon-prefix}_printer:before {
  content: "\e02e";
}

.#{$simple-line-icon-prefix}_present:before {
  content: "\e02f";
}

.#{$simple-line-icon-prefix}_playlist:before {
  content: "\e030";
}

.#{$simple-line-icon-prefix}_pin:before {
  content: "\e031";
}

.#{$simple-line-icon-prefix}_picture:before {
  content: "\e032";
}

.#{$simple-line-icon-prefix}_handbag:before {
  content: "\e035";
}

.#{$simple-line-icon-prefix}_globe-alt:before {
  content: "\e036";
}

.#{$simple-line-icon-prefix}_globe:before {
  content: "\e037";
}

.#{$simple-line-icon-prefix}_folder-alt:before {
  content: "\e039";
}

.#{$simple-line-icon-prefix}_folder:before {
  content: "\e089";
}

.#{$simple-line-icon-prefix}_film:before {
  content: "\e03a";
}

.#{$simple-line-icon-prefix}_feed:before {
  content: "\e03b";
}

.#{$simple-line-icon-prefix}_drop:before {
  content: "\e03e";
}

.#{$simple-line-icon-prefix}_drawer:before {
  content: "\e03f";
}

.#{$simple-line-icon-prefix}_docs:before {
  content: "\e040";
}

.#{$simple-line-icon-prefix}_doc:before {
  content: "\e085";
}

.#{$simple-line-icon-prefix}_diamond:before {
  content: "\e043";
}

.#{$simple-line-icon-prefix}_cup:before {
  content: "\e044";
}

.#{$simple-line-icon-prefix}_calculator:before {
  content: "\e049";
}

.#{$simple-line-icon-prefix}_bubbles:before {
  content: "\e04a";
}

.#{$simple-line-icon-prefix}_briefcase:before {
  content: "\e04b";
}

.#{$simple-line-icon-prefix}_book-open:before {
  content: "\e04c";
}

.#{$simple-line-icon-prefix}_basket-loaded:before {
  content: "\e04d";
}

.#{$simple-line-icon-prefix}_basket:before {
  content: "\e04e";
}

.#{$simple-line-icon-prefix}_bag:before {
  content: "\e04f";
}

.#{$simple-line-icon-prefix}_action-undo:before {
  content: "\e050";
}

.#{$simple-line-icon-prefix}_action-redo:before {
  content: "\e051";
}

.#{$simple-line-icon-prefix}_wrench:before {
  content: "\e052";
}

.#{$simple-line-icon-prefix}_umbrella:before {
  content: "\e053";
}

.#{$simple-line-icon-prefix}_trash:before {
  content: "\e054";
}

.#{$simple-line-icon-prefix}_tag:before {
  content: "\e055";
}

.#{$simple-line-icon-prefix}_support:before {
  content: "\e056";
}

.#{$simple-line-icon-prefix}_frame:before {
  content: "\e038";
}

.#{$simple-line-icon-prefix}_size-fullscreen:before {
  content: "\e057";
}

.#{$simple-line-icon-prefix}_size-actual:before {
  content: "\e058";
}

.#{$simple-line-icon-prefix}_shuffle:before {
  content: "\e059";
}

.#{$simple-line-icon-prefix}_share-alt:before {
  content: "\e05a";
}

.#{$simple-line-icon-prefix}_share:before {
  content: "\e05b";
}

.#{$simple-line-icon-prefix}_rocket:before {
  content: "\e05c";
}

.#{$simple-line-icon-prefix}_question:before {
  content: "\e05d";
}

.#{$simple-line-icon-prefix}_pie-chart:before {
  content: "\e05e";
}

.#{$simple-line-icon-prefix}_pencil:before {
  content: "\e05f";
}

.#{$simple-line-icon-prefix}_note:before {
  content: "\e060";
}

.#{$simple-line-icon-prefix}_loop:before {
  content: "\e064";
}

.#{$simple-line-icon-prefix}_home:before {
  content: "\e069";
}

.#{$simple-line-icon-prefix}_grid:before {
  content: "\e06a";
}

.#{$simple-line-icon-prefix}_graph:before {
  content: "\e06b";
}

.#{$simple-line-icon-prefix}_microphone:before {
  content: "\e063";
}

.#{$simple-line-icon-prefix}_music-tone-alt:before {
  content: "\e061";
}

.#{$simple-line-icon-prefix}_music-tone:before {
  content: "\e062";
}

.#{$simple-line-icon-prefix}_earphones-alt:before {
  content: "\e03c";
}

.#{$simple-line-icon-prefix}_earphones:before {
  content: "\e03d";
}

.#{$simple-line-icon-prefix}_equalizer:before {
  content: "\e06c";
}

.#{$simple-line-icon-prefix}_like:before {
  content: "\e068";
}

.#{$simple-line-icon-prefix}_dislike:before {
  content: "\e06d";
}

.#{$simple-line-icon-prefix}_control-start:before {
  content: "\e06f";
}

.#{$simple-line-icon-prefix}_control-rewind:before {
  content: "\e070";
}

.#{$simple-line-icon-prefix}_control-play:before {
  content: "\e071";
}

.#{$simple-line-icon-prefix}_control-pause:before {
  content: "\e072";
}

.#{$simple-line-icon-prefix}_control-forward:before {
  content: "\e073";
}

.#{$simple-line-icon-prefix}_control-end:before {
  content: "\e074";
}

.#{$simple-line-icon-prefix}_volume-1:before {
  content: "\e09f";
}

.#{$simple-line-icon-prefix}_volume-2:before {
  content: "\e0a0";
}

.#{$simple-line-icon-prefix}_volume-off:before {
  content: "\e0a1";
}

.#{$simple-line-icon-prefix}_calendar:before {
  content: "\e075";
}

.#{$simple-line-icon-prefix}_bulb:before {
  content: "\e076";
}

.#{$simple-line-icon-prefix}_chart:before {
  content: "\e077";
}

.#{$simple-line-icon-prefix}_ban:before {
  content: "\e07c";
}

.#{$simple-line-icon-prefix}_bubble:before {
  content: "\e07d";
}

.#{$simple-line-icon-prefix}_camrecorder:before {
  content: "\e07e";
}

.#{$simple-line-icon-prefix}_camera:before {
  content: "\e07f";
}

.#{$simple-line-icon-prefix}_cloud-download:before {
  content: "\e083";
}

.#{$simple-line-icon-prefix}_cloud-upload:before {
  content: "\e084";
}

.#{$simple-line-icon-prefix}_envelope:before {
  content: "\e086";
}

.#{$simple-line-icon-prefix}_eye:before {
  content: "\e087";
}

.#{$simple-line-icon-prefix}_flag:before {
  content: "\e088";
}

.#{$simple-line-icon-prefix}_heart:before {
  content: "\e08a";
}

.#{$simple-line-icon-prefix}_info:before {
  content: "\e08b";
}

.#{$simple-line-icon-prefix}_key:before {
  content: "\e08c";
}

.#{$simple-line-icon-prefix}_link:before {
  content: "\e08d";
}

.#{$simple-line-icon-prefix}_lock:before {
  content: "\e08e";
}

.#{$simple-line-icon-prefix}_lock-open:before {
  content: "\e08f";
}

.#{$simple-line-icon-prefix}_magnifier:before {
  content: "\e090";
}

.#{$simple-line-icon-prefix}_magnifier-add:before {
  content: "\e091";
}

.#{$simple-line-icon-prefix}_magnifier-remove:before {
  content: "\e092";
}

.#{$simple-line-icon-prefix}_paper-clip:before {
  content: "\e093";
}

.#{$simple-line-icon-prefix}_paper-plane:before {
  content: "\e094";
}

.#{$simple-line-icon-prefix}_power:before {
  content: "\e097";
}

.#{$simple-line-icon-prefix}_refresh:before {
  content: "\e098";
}

.#{$simple-line-icon-prefix}_reload:before {
  content: "\e099";
}

.#{$simple-line-icon-prefix}_settings:before {
  content: "\e09a";
}

.#{$simple-line-icon-prefix}_star:before {
  content: "\e09b";
}

.#{$simple-line-icon-prefix}_symbol-female:before {
  content: "\e09c";
}

.#{$simple-line-icon-prefix}_symbol-male:before {
  content: "\e09d";
}

.#{$simple-line-icon-prefix}_target:before {
  content: "\e09e";
}

.#{$simple-line-icon-prefix}_credit-card:before {
  content: "\e025";
}

.#{$simple-line-icon-prefix}_paypal:before {
  content: "\e608";
}

.#{$simple-line-icon-prefix}_social-tumblr:before {
  content: "\e00a";
}

.#{$simple-line-icon-prefix}_social-twitter:before {
  content: "\e009";
}

.#{$simple-line-icon-prefix}_social-facebook:before {
  content: "\e00b";
}

.#{$simple-line-icon-prefix}_social-instagram:before {
  content: "\e609";
}

.#{$simple-line-icon-prefix}_social-linkedin:before {
  content: "\e60a";
}

.#{$simple-line-icon-prefix}_social-pinterest:before {
  content: "\e60b";
}

.#{$simple-line-icon-prefix}_social-github:before {
  content: "\e60c";
}

.#{$simple-line-icon-prefix}_social-google:before {
  content: "\e60d";
}

.#{$simple-line-icon-prefix}_social-reddit:before {
  content: "\e60e";
}

.#{$simple-line-icon-prefix}_social-skype:before {
  content: "\e60f";
}

.#{$simple-line-icon-prefix}_social-dribbble:before {
  content: "\e00d";
}

.#{$simple-line-icon-prefix}_social-behance:before {
  content: "\e610";
}

.#{$simple-line-icon-prefix}_social-foursqare:before {
  content: "\e611";
}

.#{$simple-line-icon-prefix}_social-soundcloud:before {
  content: "\e612";
}

.#{$simple-line-icon-prefix}_social-spotify:before {
  content: "\e613";
}

.#{$simple-line-icon-prefix}_social-stumbleupon:before {
  content: "\e614";
}

.#{$simple-line-icon-prefix}_social-youtube:before {
  content: "\e008";
}

.#{$simple-line-icon-prefix}_social-dropbox:before {
  content: "\e00c";
}
