section#blog-news.section.section--light_bg.blog
  .section-container.dynamic_blocks-container

    a.section-anchor(name="blog-news")

    h2.section-title.section-title--main blog / news

    p.section-main_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.

    #blog-news-lightbox.lightbox.blog-lightbox
      #blog-news-content.lightbox-container.blog-lightbox_container

        //- .img_wrap.blog-img_wrap
        //-   img.img_wrap-img.blog-img(src="img/blog-news/d/1.jpg" alt="7")

        #blog-news-slider-demonstration.slider-demo

        #blog-description

          h3.section-title.blog-title rubiko will take you to the next level

          .lightbox-desc_container.blog-lightbox_desc_container
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed molestie neque, id venenatis nisl. Aliquam magna magna, interdum quis nisl quis, eleifend sollicitudin nibh. Morbi nec felis ut nisl sagittis rhoncus. Vestibulum condimentum ligula ac mattis commodo. Etiam pharetra, dolor tempor volutpat auctor, nisi urna lacinia diam, ac consectetur turpis velit non neque. Sed erat eros, porttitor ac pretium vel, posuere a ante. Ut mattis interdum magna egestas accumsan. Vestibulum eget eros quam.
            
            p Cras tristique mi mauris, nec ornare nisi sagittis eu. Aliquam erat volutpat. Ut a magna vel neque eleifend accumsan sit amet nec mauris. Nulla faucibus ac felis at viverra. Morbi quis elit nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In quis augue tincidunt nisl viverra vulputate sit amet eu justo.
            
            p Morbi consectetur ultricies eros ac sodales. Proin fermentum tortor augue, sit amet ullamcorper lectus egestas ac. Pellentesque ultricies orci eget urna cursus, in pharetra sapien vulputate. Pellentesque quis magna felis. Sed condimentum justo viverra, pharetra dolor ac, faucibus velit. Integer porta ornare nibh ac cursus. Maecenas bibendum pretium vehicula. Quisque adipiscing, sem vitae suscipit egestas, neque arcu elementum nibh, euismod viverra turpis massa ut tortor. Vestibulum ultrices facilisis neque, at porttitor lectus placerat a. Vivamus volutpat leo vitae mi vulputate molestie.
            
            p Aliquam nec diam sem. Nulla eu auctor tortor. Fusce feugiat ultrices tincidunt. Sed quis magna quam. Aliquam erat volutpat. Duis pretium urna lectus, sed dictum diam tincidunt quis. Fusce consequat faucibus dui sed vulputate. Duis faucibus mattis volutpat. Vestibulum placerat urna eget urna sollicitudin pulvinar. Mauris lacinia dictum tristique.
            
            p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed feugiat sem eu est sollicitudin sagittis. Nam eget adipiscing lectus, ac facilisis tortor. Nulla accumsan faucibus orci, nec tincidunt turpis blandit et. Pellentesque pulvinar fermentum ante quis fringilla. Etiam at quam justo. Suspendisse posuere fringilla tortor. Maecenas eu nunc non augue lacinia gravida sed in massa. Nullam ac nibh placerat, hendrerit quam in, aliquet augue. Duis metus sem, dictum eu turpis sodales, consequat suscipit purus.
            
            p Proin pretium felis quis eros interdum venenatis. Mauris vitae ultricies augue. Nunc ultrices neque at mollis mattis. Integer luctus, libero sed imperdiet interdum, dolor velit ullamcorper lectus, a elementum tortor leo ac sapien. Duis velit leo, mattis sit amet aliquam quis, molestie eget ante. Mauris rhoncus, arcu quis dictum fringilla, purus eros convallis leo, sit amet tincidunt purus nunc id eros. Nulla vitae egestas lectus. Maecenas semper sem sed sapien porta tincidunt quis et risus. Quisque in lobortis ipsum. Nam tincidunt gravida elit, vel auctor urna placerat ut. Sed nisl nibh, pulvinar ut sapien tincidunt, dictum sollicitudin justo. Sed tempor et nibh et eleifend. Integer nibh felis, fermentum in enim eget.

          +social-rhombus("blog-social_rhombus")

        #blog-comments.comments

          h4.section-title.comments-main_title 5 Comments

          ul.comment-list.comment-list--level_1

            li.comment-item
              .comment-wrap
                .comment-avatar.comment-avatar--guest
                
                .comment-text
                  span.comment-title
                    b.comment-author Remington 
                    | says:
                  span.comment-date October 17, 2013 at 3:55 am
                  p.comment-desc Nice theme, I will definitely buy this one and also recommend my friends. I love the color and widget style of the theme very much. Thanks!
                
                a.comment-more(href="#")
              
            

            li.comment-item
              .comment-wrap
                .comment-avatar.comment-avatar--admin
                
                .comment-text
                  span.comment-title
                    b.comment-author Rubiko 
                    | says:
                  span.comment-date October 17, 2013 at 3:55 am
                  p.comment-desc Thank you very much for yours feedback is means a lot for us!
                
                a.comment-more(href="#")
              

              ul.comment-list.comment-list--sub.comment-list--level_2

                li.comment-item
                  .comment-wrap
                    .comment-avatar.comment-avatar--guest
                    
                    .comment-text
                      span.comment-title
                        b.comment-author Remington 
                        | says:
                      span.comment-date October 17, 2013 at 3:55 am
                      p.comment-desc Looking forward to working with this theme!
                    
                    a.comment-more(href="#")
                  
                

                li.comment-item
                  .comment-wrap
                    .comment-avatar.comment-avatar--guest
                    
                    .comment-text
                      span.comment-title
                        b.comment-author Remington 
                        | says:
                      span.comment-date October 17, 2013 at 3:55 am
                      p.comment-desc Looking forward to working with this theme!
                    
                    a.comment-more(href="#")
                  
                

              

            

            li.comment-item
              .comment-wrap
                .comment-avatar.comment-avatar--guest
                
                .comment-text
                  span.comment-title
                    b.comment-author Remington 
                    | says:
                  span.comment-date October 17, 2013 at 3:55 am
                  p.comment-desc Looking forward to working with this theme!
                
                a.comment-more(href="#")

          form.form.comment-form(action="index.html")
            .section-flex_container.comment-form_input_wrap
              input.form-elem.form-elem--input(type="text" placeholder="Name*")
              input.form-elem.form-elem--input(type="email" placeholder="Email*")

            textarea.form-elem.form-elem--textarea(placeholder="Your comment*")

            .rhombus_wrap.rhombus_wrap--btn.form-btn
              input.rhombus_wrap-rhombus.form-btn_elem(type="submit" value="send")

      .nav.blog-nav

        .rhombus_wrap.rhombus_wrap--category.nav-rhombus_wrap.blog-nav_category
          .rhombus_wrap-rhombus 5 comments

        #blog-news-slider-navigation.nav-arrows.blog-nav_arrows
          #blog-news-slider-prev.rhombus_wrap.rhombus_wrap--arrow.nav-rhombus_wrap.nav-prev
            .rhombus_wrap-rhombus
          #blog-news-slider-close.rhombus_wrap.rhombus_wrap--btn.rhombus_wrap--close.lightbox-close.blog-nav_close
            .rhombus_wrap-rhombus
          #blog-news-slider-next.rhombus_wrap.rhombus_wrap--arrow.nav-rhombus_wrap.nav-next
            .rhombus_wrap-rhombus

        .rhombus_wrap.nav-rhombus_wrap.blog-nav_date
          .rhombus_wrap-rhombus Jan 15 2014

    #blog-news-blocks.dynamic_blocks.display_rhombuses.blog-display_rhombuses blog and news items
