- var clients = ["graphicriver", "themeforest", "activeden", "codecanyon"];

section#clients.section.section--dark_bg.carousel.clients
  .section-container

    h2.section-title.section-title--main meet our lovely clients
    p.section-main_desc.clients-main_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.

    .carousel-container.clients-carousel_container
      each item, index in clients
        a.section-block.carousel-slide.client(href="#")
          //- picture
          //-   source(srcset="img/clients/t/" + (index + 1) + ".png" media="(min-width: 768px)")
          //-   img.client-img(srcset="img/clients/m/" + (index + 1) + ".png" alt=item)
          +picture("img/clients", (index + 1) + ".png", item, [], ["client-img"], 1)

  a#to-contacts.section-btn_to.section-btn_to--bottom.rhombus_wrap.rhombus_wrap--arrow(href="#contacts")
    .rhombus_wrap-rhombus
