head
  meta(charset="UTF-8")
  meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" name="viewport")
  title RUBIKO
  link(rel="stylesheet" href="css/style.min.css")
  //- Add the slick-theme.css if you want default styling
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")