header.section.section--light_bg.header
  .section-container.header-container

    +logo("", true)

    nav.header-nav
      #menu-checker.rhombus_wrap.rhombus_wrap--btn.rhombus_wrap--bars.header-menu_checker
        .rhombus_wrap-rhombus

      //- main menu
