section#main-slider.section.section--dark_bg.slider-container.main_slider
  #main-slider-demonstration.slider-demo.main_slider-demo

    #main-slide-1.slider-item.main_slider_item_1
      .slider-item_background.main_slider-item_background.main_slider_item_1-background
      .slider-item_content.main_slider-item_content.main_slider_item_1-content

        .main_slider-text_wrap
          .main_slider-text_content
            h2.section-title.section-title--main.main_slider-title.main_slider_item_1-title image background
            p.section-main_desc.main_slider-desc.main_slider_item_1-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived  not onlyfive centuries, but also the leap into electronic typesetting, remaining

    #main-slide-2.slider-item.main_slider_item_2
      .slider-item_background.main_slider-item_background.main_slider_item_2-background
      .slider-item_content.main_slider-item_content

        .main_slider-text_wrap
          .main_slider-text_content
            h2.section-title.section-title--main.main_slider-title pattern background
            p.section-main_desc.main_slider-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived  not onlyfive centuries, but also the leap into electronic typesetting, remaining

    #main-slide-3.slider-item.main_slider_item_3
      .slider-item_background.main_slider-item_background.main_slider_item_3-background
      .slider-item_content.main_slider-item_content

        .main_slider-text_wrap
          .main_slider-text_content
            h2.section-title.section-title--main.main_slider-title video background
            p.section-main_desc.main_slider-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not onlyfive centuries, but also the leap into electronic typesetting, remaining

    #main-slide-4.slider-item.main_slider_item_4
      .slider-item_background.main_slider-item_background.main_slider_item_4-background
      .slider-item_content.section-flex_container.main_slider-item_content.main_slider_item_4-content

        .main_slider-text_wrap.main_slider_item_4-text_wrap
          .main_slider-text_content.main_slider_item_4-text_content
            h2.section-title.section-title--main.main_slider-title.main_slider_item_4-title
              | your work
              br
              | presentation here
            p.section-main_desc.main_slider-desc.main_slider_item_4-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only

        //- .img_wrap.main_slider-img_wrap.main_slider_item_4-img_wrap
        //-   img.img_wrap-img(src="img/bg/main-slider/hand.png" alt="hand with iphone")

        +picture("img/bg/main-slider", "hand.png", "hand with iphone", ["img_wrap", "main_slider-img_wrap", "main_slider_item_4-img_wrap"], ["img_wrap-img"])

  #main-slider-navigation.nav.main_slider-nav
    a#main-slider-more.rhombus_wrap.rhombus_wrap--more.nav-rhombus_wrap.main_slider-nav_more(href="#")
      .rhombus_wrap-rhombus
    a#main-slider-prev.rhombus_wrap.rhombus_wrap--arrow.nav-rhombus_wrap.nav-prev.main_slider-nav_prev(href="#")
      .rhombus_wrap-rhombus
    a#main-slider-next.rhombus_wrap.rhombus_wrap--arrow.nav-rhombus_wrap.nav-next.main_slider-nav_next(href="#")
      .rhombus_wrap-rhombus

  a#main-slider-after-section.section-btn_to.section-btn_to--bottom.rhombus_wrap.main_slider-btn_to_bottom(href="#features")
    .rhombus_wrap-rhombus
