section#old-team.section.section--light_bg.carousel.team
  .section-container.team-container

    a.section-anchor(name="team")

    h2.section-title.section-title--main meet old team

    p.section-main_desc.team-main_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining

    .carousel-container.team-carousel_container

      #old-team-navigation.nav.team-nav
        .nav-arrows

          #old-team-carousel-prev.rhombus_wrap.nav-rhombus_wrap.nav-prev
            .rhombus_wrap-rhombus
          #old-team-carousel-next.rhombus_wrap.nav-rhombus_wrap.nav-next
            .rhombus_wrap-rhombus

      #old-team-demonstration.carousel-demo
        ul.carousel-row

          li.section-flex_container.carousel-slide.team-slide

            .section-block.team_block.team_block--item_1
              .rhombus_wrap.photo_block-wrap.team_block-photo_block_wrap
                .photo_block-frame
                  .rhombus_wrap-rhombus.photo_block-rhombus
                    //- picture
                    //- 	source(srcset="img/team/d/1.jpg" media="(min-width: 1170px)")
                    //- 	source(srcset="img/team/t/1.jpg" media="(min-width: 768px)")
                    img.photo_block-img.team_block-img(srcset="img/team/m/1.jpg" alt="1")
                +socials("team-socials", 5)

              span.team_block-status art director
              h3.section-title.team_block-title adam clark
              p.team_block-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.

            .section-block.team_block.team_block--item_2
              .rhombus_wrap.photo_block-wrap.team_block-photo_block_wrap
                .photo_block-frame
                  .rhombus_wrap-rhombus.photo_block-rhombus
                    //- picture
                    //- 	source(srcset="img/team/d/2.jpg" media="(min-width: 1170px)")
                    //- 	source(srcset="img/team/t/2.jpg" media="(min-width: 768px)")
                    img.photo_block-img.team_block-img(srcset="img/team/m/2.jpg" alt="2")
                +socials("team-socials", 5)

              span.team_block-status graphic designer
              h3.section-title.team_block-title isabella moro
              p.team_block-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.

          li.section-flex_container.carousel-slide.team-slide

            .section-block.team_block.team_block--item_3
              .rhombus_wrap.photo_block-wrap.team_block-photo_block_wrap
                .photo_block-frame
                  .rhombus_wrap-rhombus.photo_block-rhombus
                    //- picture
                    //- 	source(srcset="img/team/d/3.jpg" media="(min-width: 1170px)")
                    //- 	source(srcset="img/team/t/3.jpg" media="(min-width: 768px)")
                    img.photo_block-img.team_block-img(srcset="img/team/m/3.jpg" alt="3")
                +socials("team-socials", 5)

              span.team_block-status General Manager
              h3.section-title.team_block-title TOM WEERD
              p.team_block-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.

            .section-block.team_block.team_block--item_4
              .rhombus_wrap.photo_block-wrap.team_block-photo_block_wrap
                .photo_block-frame
                  .rhombus_wrap-rhombus.photo_block-rhombus
                    //- picture
                    //- 	source(srcset="img/team/d/4.jpg" media="(min-width: 1170px)")
                    //- 	source(srcset="img/team/t/4.jpg" media="(min-width: 768px)")
                    img.photo_block-img.team_block-img(srcset="img/team/m/4.jpg" alt="4")
                +socials("team-socials", 5)

              span.team_block-status Lead Developer
              h3.section-title.team_block-title JOHN HAMMOND
              p.team_block-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
