section#portfolio.section.section--light_bg.portfolio
  .section-container.dynamic_blocks-container

    a.section-anchor(name="portfolio")

    h2.section-title.section-title--main.portfolio-title our portfolio gallery

    #portfolio-blocks.dynamic_blocks.display_rhombuses.portfolio-display_rhombuses
      //- portfolio menu
      //- portfolio items
