script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
//- script(src="js/pf.intrinsic.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
script(src="js/request-animation-frame-polyfill.js")
script(src="js/reasanik-base.js")
script(src="js/restruct-rhombuses.js")
script(src="js/menu.js")
script(src="js/slider.js")
script(src="js/animate-blocks.js")
script(src="js/scroll-effect.js")
script(src="js/to-top.js")
script(src="js/gallery.js")
script(src="js/form-validate.js")
script(src="js/lazy-loading.js")
script(src="js/include-plugins.js")
script(src="js/include-slick-carousels.js")
