-
  var socialFeedback = [
    "twitter",
    "facebook",
    "tumblr",
    "dribbble"
  ]

section#social_feedback.section.section--dark_bg.carousel.social_feedback
  .section-container.social_feedback-container

    .carousel-container.social_feedback-carousel_container
      each item in socialFeedback
        .carousel-slide.social_feedback-slide(class="social_feedback-slide--" + item)
          h2.section-title.section-title--main.social_feedback-title
          p.section-main_desc.social_feedback-main_desc I bought Rubiko theme that looks and works fantastically all recommendations!
          address.section-address.social_feedback-author
            a.social_feedback-link(href="#") @blazrobar
            |  #webdesign
          address.section-address.social_feedback-time 2 hours ago

  a#to-team.section-btn_to.section-btn_to--bottom.rhombus_wrap.rhombus_wrap--arrow(href="#team")
    .rhombus_wrap-rhombus
