section#statistics.section.section--dark_bg.statistics
  .section-container

    h2.section-title.section-title--main.statistics-title some cool statistics
    p.section-main_desc.statistics-main_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.

    .section-flex_container

      .sl_icon-people.section-block.statistic
        span.statistic-number 568
        h3.section-title.statistic-title Happy clients!
      .sl_icon-social-twitter.section-block.statistic
        span.statistic-number 3578
        h3.section-title.statistic-title Followers on Twitter
      .sl_icon-social-facebook.section-block.statistic
        span.statistic-number 2387
        h3.section-title.statistic-title Friends on Facebook
      .sl_icon-trophy.section-block.statistic
        span.statistic-number 128
        h3.section-title.statistic-title awards

  a#to-blog-news.section-btn_to.section-btn_to--bottom.rhombus_wrap.rhombus_wrap--arrow(href="#blog-news")
    .rhombus_wrap-rhombus
