-
  var teamPersons = [
    {
      status: "art director",
      name: "adam clark"
    },
    {
      status: "graphic designer",
      name: "isabella moro"
    },
    {
      status: "General Manager",
      name: "TOM WEERD"
    },
    {
      status: "Lead Developer",
      name: "JOHN HAMMOND"
    }
  ]

section#team.section.section--light_bg.carousel.team
  .section-container.team-container

    a.section-anchor(name="team")

    h2.section-title.section-title--main meet team

    p.section-main_desc.team-main_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining

    .carousel-container.team-carousel_container

      #team-navigation.nav.team-nav
        .nav-arrows

          #team-carousel-prev.rhombus_wrap.nav-rhombus_wrap.nav-prev
            .rhombus_wrap-rhombus
          #team-carousel-next.rhombus_wrap.nav-rhombus_wrap.nav-next
            .rhombus_wrap-rhombus

      #team-demonstration.carousel-demo
        each item, index in teamPersons
          +team-item(index + 1, item.status, item.name)
