include mixins

doctype html
html(lang="en")
	include includes/head.pug

	body

		//- BEGIN HEADER

		include includes/header.pug

		//- END HEADER

		//- BEGIN MAIN-SLIDER SECTION

		include includes/main-slider.pug

		//- END MAIN-SLIDER SECTION

		//- BEGIN FEATURES SECTION

		include includes/features.pug

		//- END FEATURES SECTION

		//- BEGIN ABOUT SECTION

		include includes/about.pug

		//- END ABOUT SECTION

		//- BEGIN PORTFOLIO SECTION

		include includes/portfolio.pug

		//- END PORTFOLIO SECTION

		//- BEGIN TESTIMONIALS SECTION

		include includes/testimonials.pug

		//- END TESTIMONIALS SECTION

		//- BEGIN SKILLS SECTION

		include includes/skills.pug

		//- END SKILLS SECTION

		//- BEGIN STATISTICS SECTION

		include includes/statistics.pug

		//- END STATISTICS SECTION

		//- BEGIN BLOG-NEWS SECTION

		include includes/blog-news.pug

		//- END BLOG-NEWS SECTION

		//- BEGIN SOCIAL-FEEDBACK SECTION

		include includes/social-feedback.pug

		//- END SOCIAL-FEEDBACK SECTION

		//- BEGIN TEAM SECTION

		include includes/team.pug

		//- END TEAM SECTION

		//- BEGIN CLIENTS SECTION

		include includes/clients.pug

		//- END CLIENTS SECTION

		//- BEGIN FEEDBACK SECTION

		include includes/feedback.pug

		//- END FEEDBACK SECTION

		//- BEGIN FOOTER

		include includes/footer.pug

		//- END FOOTER

		//- BEGIN LIGHTBOX

		include includes/lightbox.pug

		//- END LIGHTBOX

		include includes/scripts.pug
