// BEGIN FONTS

@font-face {
  font-family: "Exo2.0 Black";
  src: url("../fonts/Exo2.0-Black/Exo2.0-Black.eot");
  src: url("../fonts/Exo2.0-Black/Exo2.0-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Exo2.0-Black/Exo2.0-Black.woff2") format("woff2"),
    url("../fonts/Exo2.0-Black/Exo2.0-Black.woff") format("woff"),
    url("../fonts/Exo2.0-Black/Exo2.0-Black.ttf") format("truetype"),
    url("fonts/Exo2.0-Black.svg#Exo2.0-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo2.0 Regular";
  src: url("../fonts/Exo2.0-Regular/Exo2.0-Regular.eot");
  src: url("../fonts/Exo2.0-Regular/Exo2.0-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Exo2.0-Regular/Exo2.0-Regular.woff2") format("woff2"),
    url("../fonts/Exo2.0-Regular/Exo2.0-Regular.woff") format("woff"),
    url("../fonts/Exo2.0-Regular/Exo2.0-Regular.ttf") format("truetype"),
    url("../fonts/Exo2.0-Regular/Exo2.0-Regular.svg#Exo2.0-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo2.0-Extra-Light";
  src: url("../fonts/Exo2.0-Extra-Light/Exo2.0-Extra-Light.eot");
  src: url("../fonts/Exo2.0-Extra-Light/Exo2.0-Extra-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Exo2.0-Extra-Light/Exo2.0-Extra-Light.woff2") format("woff2"),
    url("../fonts/Exo2.0-Extra-Light/Exo2.0-Extra-Light.woff") format("woff"),
    url("../fonts/Exo2.0-Extra-Light/Exo2.0-Extra-Light.ttf") format("truetype"),
    url("../fonts/Exo2.0-Extra-Light/Exo2.0-Extra-Light.svg#Exo2.0-Extra-Light")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/Open-Sans-Light/Open-Sans-Light.eot");
  src: url("../fonts/Open-Sans-Light/Open-Sans-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Open-Sans-Light/Open-Sans-Light.woff2") format("woff2"),
    url("../fonts/Open-Sans-Light/Open-Sans-Light.woff") format("woff"),
    url("../fonts/Open-Sans-Light/Open-Sans-Light.ttf") format("truetype"),
    url("../fonts/Open-Sans-Light/Open-Sans-Light.svg#Open-Sans-Light")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light Italic";
  src: url("../fonts/Open-Sans-Light-Italic/Open-Sans-Light-Italic.eot");
  src: url("../fonts/Open-Sans-Light-Italic/Open-Sans-Light-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Open-Sans-Light-Italic/Open-Sans-Light-Italic.woff2")
      format("woff2"),
    url("../fonts/Open-Sans-Light-Italic/Open-Sans-Light-Italic.woff")
      format("woff"),
    url("../fonts/Open-Sans-Light-Italic/Open-Sans-Light-Italic.ttf")
      format("truetype"),
    url("../fonts/Open-Sans-Light-Italic/Open-Sans-Light-Italic.svg#Open-Sans-Light-Italic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SimpleLineIcons;
  src: url("../fonts/Simple-Line-Icons/Simple-Line-Icons.eot");
  src: url("../fonts/Simple-Line-Icons/Simple-Line-Icons.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Simple-Line-Icons/Simple-Line-Icons.woff") format("woff"),
    url("../fonts/Simple-Line-Icons/Simple-Line-Icons.ttf") format("truetype"),
    url("../fonts/Simple-Line-Icons/Simple-Line-Icons.svg#Simple-Line-Icons")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: FontAwesome;
//   src: url('../fonts/Font-Awesome/fontawesome-webfont.eot?v=4.5.0');
//   src: url('../fonts/Font-Awesome/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
// 	     url('../fonts/Font-Awesome/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
// 	     url('../fonts/Font-Awesome/fontawesome-webfont.woff?v=4.5.0') format('woff'),
// 	     url('../fonts/Font-Awesome/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
// 	     url('../fonts/Font-Awesome/fontawesome-webfont.svg?v=4.5.0#fontawesome-webfont') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: Icomoon;
  src: url("../fonts/Icomoon/icomoon.eot?p389yf");
  src: url("../fonts/Icomoon/icomoon.eot?p389yf#iefix")
      format("embedded-opentype"),
    url("../fonts/Icomoon/icomoon.ttf?p389yf") format("truetype"),
    url("../fonts/Icomoon/icomoon.woff?p389yf") format("woff"),
    url("../fonts/Icomoon/icomoon.svg?p389yf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;

  // Better Font Rendering ===========
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// END FONTS
