// BEGIN MAIN CONTAINERS

body {
  padding-top: 70px;
  font: 14px/22px "Open Sans Light", sans-serif;
  background: $lightColor url("#{$imgBgPath}/body.png") center top;
  overflow-x: hidden;
}

.section-container,
.section-flex_container,
.hor_menu,
.nav-arrows,
.social-list,
.thumbs,
.dynamic_blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.section-container,
.slider-item_content {
  @include margin("* auto");
  min-width: 100px;
  // min-width: 480px;
  // max-width: 480px;
  // max-width: 768px;
  max-width: 1170px;
  width: 100%;
  // outline: 1px solid #070;
  text-align: center;
  overflow: hidden;
}

.section {
  $block: &;

  &-container {
    @include padding("* 10px");
    overflow: visible;
  }

  &-title {
    width: 100%;
    text-transform: uppercase;
    //font: 19px/30px 'Exo2.0 Black', sans-serif;
    font: 19px/19px "Exo2.0 Black", sans-serif;
    color: inherit;

    &--main {
      //font: 24px/30px 'Exo2.0 Black', sans-serif;
      font: 24px/22px "Exo2.0 Black", sans-serif;
      //background: url('#{$imgBgPath}/slider/after.png') no-repeat bottom center;

      &:after {
        display: block;
        margin: 18px auto 14px;
        font: 11px Icomoon;
        color: $darkColor;
        content: $icomoonSeparator;
      }

      #{$block}--dark_bg &:after {
        color: $lightColor;
      }
    }
  }

  &-main_desc,
  &-block {
    @include margin("* 10px");
  }

  &-main_desc {
    //text-indent: 29px;
    flex-shrink: 1;
  }

  &-anchor {
    display: none;
  }

  &-btn_to {
    // position: absolute;
    // left: 50%;
    // bottom: -38px;
    // z-index: $zLevel8;
    // margin-left: -38px;
    // padding: 30px;
    // @include rhombusSize($rhombusSize107);
    background-color: $linkColor;

    &:hover {
      padding: 20px;
    }

    &--bottom {
      position: absolute;
      left: 50%;
      bottom: -38px;
      z-index: $zLevel8;
      margin-left: -38px;
      padding: 30px;
      @include rhombusSize($rhombusSize107);

      .rhombus_wrap-rhombus {
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
      }
    }

    &--top {
      $modif: &;

      position: fixed;
      left: 88%;
      // bottom: 46px;
      bottom: 45px;
      z-index: $zLevel9;
      margin-left: $defaultNegativeRhombusMargin;
      // padding: 0;
      // width: 0;
      // height: 0;
      opacity: 0;
      transition: width 1s, height 1s, opacity 1s, left 1s, bottom 1s, padding #{$transitionTime};

      .rhombus_wrap-rhombus {
        border-top: 1px solid $white;
        border-left: 1px solid $white;
      }

      &#{$modif}_active {
        padding: 18px;
        @include rhombusSize;
        opacity: 1;

        &:hover {
          padding: 10px;
        }
      }

      &#{$modif}_finally {
        left: 50%;
      }
    }
  }

  &-block {
    width: 210px;
  }

  &-address {
    font-family: "Open Sans Light Italic", sans-serif;
    font-style: normal;
    color: $addressColor;
  }

  &--light_bg {
    padding-top: 113px;
    color: $darkColor;
    overflow: hidden;
  }

  &--dark_bg {
    position: relative;
    padding-top: 81px;
    color: $lightColor;
    // overflow-x: hidden;
    // overflow-y: visible;
    background-size: cover !important;

    #{$block}-container {
      flex-flow: column nowrap;
      justify-content: flex-start;
    }
  }
}

// END MAIN CONTAINERS

// BEGIN RHOMBUSES

.rhombus_wrap {
  $block: &;

  transform: rotate(45deg);
  overflow: hidden;

  &-rhombus {
    display: block;
    @include size("100%");
    transform: rotate(-45deg);
  }

  &--bars &-rhombus {
    &:before,
    &:after {
      position: relative;
      display: block;
      left: 7px;
      width: 50%;
      border-bottom: 2px $white solid;
      // transform: translateX(-50%);
      content: "";
    }

    &:before {
      // font: 21px/33px FontAwesome;
      // text-align: center;
      // content: $faBars;
      padding-top: 10px;
    }

    &:after {
      margin-top: 3px;
      border-top: 2px $white solid;
      padding-top: 3px;
    }
  }

  &--arrow .rhombus_wrap-rhombus {
    @include resetRhombusRotate;
  }

  &--btn,
  &--red_bg {
    background-color: $linkColor;

    #{$block}-rhombus {
      color: $white;
      border-color: $white;
    }
  }

  &--close,
  &--more {
    #{$block}-rhombus {
      position: relative;

      &:before,
      &:after {
        position: absolute;
        display: block;
        content: "";
      }

      &:before {
        top: 50%;
        width: 100%;
        border-top: 1px solid $white;
      }

      &:after {
        left: 50%;
        height: 100%;
        border-left: 1px solid $white;
      }
    }
  }

  &--btn {
    @include rhombusSize($rhombusSize49);
    cursor: pointer;
  }

  &--category .rhombus_wrap-rhombus:before {
    display: block;
    font-family: SimpleLineIcons;
    content: $sliBlog;
  }

  &--close {
    padding: 16px;

    #{$block}-rhombus {
      @include resetRhombusRotate;
    }
  }
}

.nav {
  position: absolute;
  z-index: $zLevel3;
  width: 100%;

  &-rhombus_wrap {
    padding: 18px;
    @include rhombusSize;
    cursor: pointer;
  }

  &-arrows {
    justify-content: center;
  }

  &-prev .rhombus_wrap-rhombus {
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
  }

  &-next .rhombus_wrap-rhombus {
    border-top: 1px solid $white;
    border-right: 1px solid $white;
  }
}

// .rhombus,
// .socials a {
//   width: 100%;
//   height: 100%;
//   transform: rotate(-45deg);
// }

// .nav .rhombus_wrap,
// input.btn {
//   cursor: pointer;
// }

// END RHOMBUSES

// BEGIN LISTS, LINKS, BUTTONS, ANCHORS, IMAGES AND FORM ELEMENTS

a {
  transition: all $transitionTime;

  &,
  &:hover,
  &:active,
  &:visited,
  &:link {
    //color: $darkColor;
    color: inherit;
  }

  &,
  &:hover,
  &:active {
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// a,
// // img,
// .socials li,
// .thumbs li {
//   display: block;
// }

// a
// button,
// .btn {
//   transition: all $transitionTime;
// }

ul {
  list-style: none outside none;
}

.list {
  &-item,
  &-link {
    display: block;
  }
}

.hor_menu {
  justify-content: space-between;
}

.img_wrap {
  overflow: hidden;

  &-img {
    display: block;
    max-width: 100%;
  }
}

.form {
  &-elem_wrap {
    width: 100%;

    &--textarea {
      height: 700px;
    }
  }

  &-elem {
    &--textarea {
      resize: none;
    }
  }

  &-btn {
    &_elem {
      display: block;
      border: none;
      background: none;
      font-size: 13px;
      // line-height: 49px;
      text-transform: uppercase;
    }
  }
}

// END LISTS, LINKS, BUTTONS, ANCHORS, IMAGES AND FORM ELEMENTS

// // BEGIN H1-H4, P

// h1,
// h2,
// h3,
// h4 {
//   width: 100%;
//   text-transform: uppercase;
//   color: inherit;
// }

// h1,
// h2 {
//   //font: 24px/30px 'Exo2.0 Black', sans-serif;
//   font: 24px/22px "Exo2.0 Black", sans-serif;
//   //background: url('#{$imgBgPath}/slider/after.png') no-repeat bottom center;

//   &:after {
//     display: block;
//     margin: 18px auto 14px;
//     font: 11px Icomoon;
//     color: $darkColor;
//     content: $icomoonSeparator;
//   }

//   .section--dark_bg &:after {
//     color: $lightColor;
//   }
// }

// .section-desc {
//   //text-indent: 29px;
//   flex-shrink: 1;
// }

// h3 {
//   //font: 19px/30px 'Exo2.0 Black', sans-serif;
//   font: 19px/19px "Exo2.0 Black", sans-serif;
// }

// // END H1-H3, P

// BEGIN LOGOS

.logo {
  position: relative;
  padding-left: 36px;
  height: 27px;
  text-transform: uppercase;

  &-rhombus {
    position: absolute;
    top: 4px;
    left: 4px;
    // rhombus-size: 27px;
    @include rhombusSize(19px);

    &--fill {
      background-color: $black;
    }

    &--empty {
      //left: 6px;
      left: 10px;
      border: 1px solid $black;
      transition: left $transitionTime;
    }
  }

  &-title {
    //font: 23px/27px 'Exo2.0 Black', sans-serif;
    font: 23px/24px "Exo2.0 Black", sans-serif;

    &:after {
      display: none;
    }
  }

  &:hover &-rhombus--empty {
    left: 4px;
  }
}

// END LOGOS

// BEGIN SLIDERS

.slider {
  &-container {
    padding: 0;
    height: 100%;
    outline: none;
  }

  &-demo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-part_block,
  &-item,
  &-item_background {
    position: absolute;
  }

  &-part_block,
  &-item {
    display: none;
  }

  &-item,
  &-item_background {
    //top: 0;
    //left: 0;
    height: 100%;
    width: 100%;
  }

  &-item {
    &--prev,
    &--active,
    &--working {
      display: block;
    }

    &--prev {
      z-index: $zLevel1;
    }

    &--active {
      z-index: $zLevel2;
    }
  }

  &-item_content {
    position: absolute;
    left: 50%;
    z-index: $zLevel3;
    height: 100%;
    transform: translate(-50%);
  }

  // &-item_content {
  //   z-index: $zLevel3;
  //   height: 100%;
  // }

  &-nav {
    &_rhombus_wrap {
      @include margin("* 12.5px");
      padding: 18px;
      background-color: $linkColor;
      @include rhombusSize;
      @include opacityRhombusTransition;
      cursor: pointer;
    }
  }
}

// END SLIDERS

// BEGIN SOCIALS

.social {
  $block: &;

  &-list {
    justify-content: flex-start;
    width: 100%;
    // font: 23px/51px FontAwesome;
    font: 23px/51px Icomoon;
    text-align: center;
  }

  &-item,
  &-show {
    @include rhombusSize;
  }

  &-item {
    @include opacityRhombus;
    @include opacityRhombusTransition;
  }

  &-link {
    &--facebook:before {
      content: $faFacebook;
    }

    &--twitter:before {
      content: $faTwitter;
    }

    &--dribbble:before {
      content: $faDribbble;
    }

    &--tumblr:before {
      content: $faTumblr;
    }

    &--linkedin:before {
      content: $faLinkedin;
    }

    &--pinterest:before {
      content: $faPinterest;
    }
  }

  &-rhombus {
    $elem: &;

    // rhombus-size: 235px;
    @include rhombusSize($size: $rhombusPositionStep * 2 + $defaultRhombusSize);

    #{$block}-item,
    #{$block}-show {
      position: absolute;
      @include resetRhombusRotate;
      @include opacityRhombusTransition(1);
    }

    #{$block}-item {
      right: $rhombusPositionStep;
      bottom: $rhombusPositionStep;
    }

    #{$block}-show {
      top: $rhombusPositionStep;
      left: $rhombusPositionStep;
      font: 23px/53px SimpleLineIcons;
      text-align: center;
      cursor: pointer;

      div:before {
        display: block;
        content: $sliSocialsButton;
      }
    }

    &#{$elem}--active {
      #{$block}-item:nth-child(1) {
        right: $rhombusPositionStep * 2;
        bottom: 0;
      }

      #{$block}-item:nth-child(2) {
        right: $rhombusPositionStep;
        bottom: 0;
      }

      #{$block}-item:nth-child(3) {
        right: 0;
        bottom: 0;
      }

      #{$block}-item:nth-child(4) {
        right: 0;
        bottom: $rhombusPositionStep;
      }

      #{$block}-item:nth-child(5) {
        right: 0;
        bottom: $rhombusPositionStep * 2;
      }
    }
  }
}

// END SOCIALS

// BEGIN CAROUSELS

.carousel {
  padding-bottom: 0;

  &-container {
    // width: 100%;
    height: 300px;
    // overflow: hidden;

    &.slick-dotted.slick-slider {
      margin-bottom: 0;
    }
  }

  &-demo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-row {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    transition: left $transitionTime;
  }
}

// END CAROUSELS

// BEGIN THUMBS

.thumbs {
  $block: &;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  // justify-content: center;

  &-item {
    // display: block;
    // margin: 21px 7px 17px;
    // margin: 21px 5px 17px;
    @include size("18px");
    // background-color: rgba(0, 177, 0, 1);
    // cursor: pointer;
  }

  &-link {
    padding: 5px;
    //width: 100%;
    height: 100%;
  }

  &-rhombus {
    border: 1px solid $lightColor;
    //width: 100%;
    // height: 100%;
    @include rhombusSize($rhombusSize11);
  }

  button {
    display: block;
    border: none;
    background: none;
  }

  .active,
  .slick-active {
    #{$block}-rhombus {
      background-color: $lightColor;
    }
  }
}

// END THUMBS

// BEGIN PORTFOLIO AND BLOG-NEWS DYNAMIC BLOCKS

.dynamic_blocks {
  justify-content: flex-start;
  align-self: center;

  &-container.section-container {
    flex-flow: column;
    // padding: 0;
    @include padding("* 20px");
  }

  .photo_block {
    &-wrap {
      @include margin("-34px 31px * 51px");
      opacity: 0;
      transform: rotate(45deg);
      transition: opacity $transitionTime;
    }

    &-rhombus {
      transform: rotate(-45deg);
    }

    &-img {
      left: -20%;
      height: 100%;
    }
  }
}

.display_rhombuses {
  // padding: 132px 0 40px;

  .col {
    &--first_in_odd_row {
      margin-left: 31px;
    }

    &--first_in_even_row {
      // margin-left: 167px;
      margin-left: 147px;
    }

    &--last_in_even_row {
      margin-right: 147px;
    }
  }

  // &.col_2,
  // &.col_3,
  // &.col_4,
  // &.col_5 {
  // 	margin-left: -20px;
  // }

  &.col {
    // width: 211px;
    width: 328px;

    // .photo_block-wrap {
    // 	margin-left: 31px;
    // }

    // .block-wrap {
    // 	margin-left: 31px;
    // }
  }

  &.col_2 {
    // width: 462px;
    width: 442px;
  }

  &.col_3 {
    // width: 693px;
    width: 673px;
  }

  &.col_4 {
    // width: 924px;
    width: 904px;
  }

  &.col_5 {
    // width: 1155px;
    width: 1135px;
  }
}

.photo_block {
  $block: &;

  &-rhombus,
  &-img,
  &-foreground,
  &-title,
  &-category,
  &-more,
  &-item {
    position: absolute;
  }

  &-category,
  &-more,
  &-item {
    opacity: 0;
  }

  &-wrap {
    flex-shrink: 0;
    @include rhombusSize($rhombusSize211);
    overflow: hidden;

    &:hover {
      #{$block}-category,
      #{$block}-more,
      #{$block}-item {
        opacity: 1;
      }

      #{$block}-foreground {
        background-color: rgba(33, 33, 33, 0.95);
      }

      #{$block}-title {
        top: 97px;
      }

      #{$block}-category {
        top: 0;
        left: 0;
      }

      #{$block}-more {
        bottom: 0;
        right: 0;
      }

      .social {
        &-item:nth-child(1) {
          right: 103px;
          bottom: 0;
        }

        &-item:nth-child(2) {
          right: 52px;
          bottom: 0;
        }

        &-item:nth-child(3) {
          right: 0;
          bottom: 0;
        }

        &-item:nth-child(4) {
          right: 0;
          bottom: 52px;
        }

        &-item:nth-child(5) {
          right: 0;
          bottom: 103px;
        }
      }
    }
  }

  &-frame {
    position: relative;
    border: 1px solid $darkColor;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-rhombus {
    top: -21%;
    left: -21%;
    width: 142%;
    height: 142%;
    background-color: $darkColor;
  }

  &-img {
    width: auto;
  }

  &-foreground {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.7);
    transition: background-color $transitionTime;
  }

  &-title {
    // top: -37px;
    // top: -52px;
    top: -72px;
    font: 15px/15px "Exo2.0 Black", sans-serif;
    color: $lightColor;
    transition: top $transitionTime;

    &:after {
      display: block;
      @include margin("5px auto *");
      font: 7px Icomoon;
      color: $linkColor;
      content: $icomoonSeparator;
    }
  }

  &-category {
    top: $defaultNegativeButtonMargin;
    left: $defaultNegativeButtonMargin;
    transition: top #{$transitionTime}, left #{$transitionTime}, opacity #{$transitionTime};
    color: $white;
    background-color: rgba(205, 41, 41, 0.5);
    @include resetRhombusRotate;

    .rhombus_wrap-rhombus:before {
      font-size: 19px;
      line-height: $rhombusSize49;
    }
  }

  &-more {
    bottom: $defaultNegativeButtonMargin;
    right: $defaultNegativeButtonMargin;
    padding: 11px;
    transform: rotate(-90deg);
    transition: bottom #{$transitionTime}, right #{$transitionTime}, opacity #{$transitionTime};
  }
}

// END PORTFOLIO AND BLOG-NEWS DYNAMIC BLOCKS

// BEGIN PORTFOLIO AND BLOG-NEWS ICONS

.lightbox {
  // &--hidden {
  //   top: 100% !important;
  //   opacity: 0 !important;
  //   height: 0 !important;
  // }

  &-close {
    position: absolute;
    margin-left: $defaultNegativeRhombusMargin;
    @include rhombusSize;
  }
}

// END PORTFOLIO AND BLOG-NEWS ICONS

//
// mobile {

// 	#features {
// 		height: 1673px;
// 		padding-top: 113px;
// 		1559
// 		padding-bottom: 0;
// 	}

// 	#about {
// 		height: 788px;
// 		padding-top: 81px;
// 		558
// 		padding-bottom: 149px;
// 	}

// 	#portfolio {
// 		height: 1578px;
// 		padding-top: 113px;
// 		1391
// 		padding-bottom: 74px;
// 	}

// 	#testimonials .carousel-container {
//     height: 268px;
//   }

// 	#skills {
// 		height: 1119px;
// 		padding-top: 113px;
// 		923
// 		padding-bottom: 83px;
// 	}

// 	#statistics {
// 		height: 875px;
// 		padding-top: 80px;
// 		675
// 		padding-bottom: 120px;
// 	}

// 	#blog-news {
// 		height: 899px;
// 		padding-top: 113px;
// 		661
// 		padding-bottom: 125px;
// 	}

// 	#team .carousel-container {
// 	  height: 663px;
// 	}

// 	#clients .carousel-container {
//     height: 217px;
// 	}

// }

// tablet {

// 	#features {
// 		height: 1242px;
// 		padding-top: 210px;
// 		863
// 		padding-bottom: 169px;
// 	}

// 	#about {
// 		height: 787px;
// 		padding-top: 157px;
// 		441
// 		padding-bottom: 189px;
// 	}

// 	#portfolio {
// 		height: 1268px;
// 		padding-top: 163px;
// 		962
// 		padding-bottom: 149px;
// 	}

// 	#testimonials .carousel-container {
//     height: 248px;
//   }

// 	#skills {
// 		height: 1097px;
// 		padding-top: 210px;
// 		731
// 		padding-bottom: 156px;
// 	}

// 	#statistics {
// 		height: 726px;
// 		padding-top: 157px;
// 		400
// 		padding-bottom: 169px;
// 	}

// 	#blog-news {
// 		height: 933px;
// 		padding-top: 144px;
// 		589
// 		padding-bottom: 201px;
// 	}

// 	#socials-feedback .carousel-container {
// 	  height: 406px;
// 	}

// 	#team .carousel-container {
// 	  height: 632px;
// 	}

// 	#clients .carousel-container {
//     height: 202px;
// 	}

// desktop {

// 	#features {
// 		height: 1220px;
// 		padding-top: 206px;
// 		784
// 		padding-bottom: 230px;
// 	}

// 	#about {
// 		height: 725px;
// 		padding-top: 147px;
// 		406
// 		padding-bottom: 172px;
// 	}

// 	#portfolio {
// 		height: 1753px;
// 		padding-top: 206px;
// 		1328
// 		padding-bottom: 219px;
// 	}

// 	#testimonials .carousel-container {
//     height: 249px;
//   }

// 	#skills {
// 		height: 1170px;
// 		padding-top: 206px;
// 		718
// 		padding-bottom: 246px;
// 	}

// 	#statistics {
// 		height: 724px;
// 		padding-top: 153px;
// 		388
// 		padding-bottom: 183px;
// 	}

// 	#blog-news {
// 		height: 1201px;
// 		padding-top: 206px;

// 		padding-bottom: ;
// 	}

// 	#socials-feedback .carousel-container {
// 	  height: 387px;
// 	}

// 	#team .carousel-container {
// 	  height: 690px;
// 	}

// 	#clients .carousel-container {
//     height: 218px;
// 	}

// }
//
