// BEGIN VARIABLES

$imgPath: "../img";
$imgBgPath: "#{$imgPath}/bg";

$zLevel1: 10;
$zLevel2: 20;
$zLevel3: 30;
$zLevel4: 40;
$zLevel5: 50;
$zLevel6: 60;
$zLevel7: 70;
$zLevel8: 1000;
$zLevel9: 10000;
$zLevel10: 100000;

// rhombus-size: 75px;
$defaultRhombusSize: 53px;

// rhombus-size: 11px;
$rhombusSize11: 8px;

// rhombus-size: 49px;
$rhombusSize49: 34px;

// rhombus-size: 65px;
$rhombusSize65: 46px;

// rhombus-size: 107px;
$rhombusSize107: 76px;

// rhombus-size: 211px;
$rhombusSize211: 149px;

// rhombus-size: 239px;
$rhombusSize239: 169px;

// rhombus-size: 269px;
$rhombusSize269: 190px;

// rhombus-size: 369px;
$rhombusSize369: 261px;

// rhombus-size: 747px;
$rhombusSize747: 528px;

$lightSectionPaddingTopTb: 210px;
$darkSectionPaddingTopTb: 157px;
$afterH2marginTopTb: 21px;

$lightSectionPaddingTopDs: $lightSectionPaddingTopTb - 4px;
$darkSectionPaddingTopDs: $darkSectionPaddingTopTb - 4px;
$afterH2marginTopDs: $afterH2marginTopTb + 4px;

$defaultNegativeRhombusMargin: -26.5px;
$defaultNavigationRhombusMargin: 3px;
$rhombusPositionStep: $defaultRhombusSize + $defaultNavigationRhombusMargin;
$defaultNegativeButtonMargin: -$rhombusSize49;

$lightBoxPaddingTop: 44px;

$contactElementWidth: 440px;

$contactInputLineHeight: 85px;
$contactTextAreaHeight: 175px;

$white: #fff;
$black: #000;

$menuBorderColor: #cbcbcb;
$menuHoverColor: #eaeaea;
$menuActiveColor: #f3ebeb;

$darkColor: #212121;
$greyColor: #bcbcbc;
$lightColor: #f5f5f5;
$linkColor: #cd2929;

$socialHoverColor: #1ab4ef;
$addressColor: #a1a1a1;

$darkSectionBgColor: #191919;

$commentBackground: rgba(93, 109, 126, 0.08);

$transitionTime: 0.5s;

$icomoonRhombuse: "\e900";
$icomoonRhombuses: "\e901";
$icomoonSeparator: "\e902";

$faBars: "\f0c9";
$faFacebook: "\f09a";
$faTwitter: "\f099";
$faDribbble: "\f17d";
$faTumblr: "\f173";
$faLinkedin: "\f0e1";
$faPinterest: "\f0d2";

$sliSocialsButton: "\e05b";
$sliFacebook: "\e00b";
$sliTwitter: "\e009";
$sliDribbble: "\e00d";
$sliTumblr: "\e00a";
$sliLinkedin: "\e60a";
$sliPinterest: "\e60b";

$sliGrid: "\e06a";

$sliBlog: "\e04a";
$sliImage: "\e05b";
$sliVideo: "\e05b";
$sliDate: "\e075";
$sliGuest: "\e014";

// END VARIABLES
